.no-dizmo-drag {
  -webkit-dashboard-region: dashboard-region(control rectangle);
  --dizmo-no-drag: true;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#front {
  div.table {
    div.table-cell {
      display: table-cell;
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
    }
    display: table;
    height: 100%;
    width: 100%;
  }
  height: 100%;
  width: 100%;
}

#back {
  div.footer {
    bottom: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  height: 100%;
  width: 100%;
}
