<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= dizmoName %></title>
    <script src="/scripts/dizmojs-1.3.js"></script>
    <script src="/scripts/dizmoelements-1.0.js"></script>
    <link href="/styles/dizmoelements-1.0.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">
</head>

<body>
    <div id="front">
        <div class="table">
            <div class="table-cell">Hello World!</div>
        </div>
    </div>
    <div id="back">
        <div class="footer">
            <button id="done" data-type="dizmo-button">Done</button>
        </div>
    </div>
    <script src="lib/i18n-2.0.0.min.js"></script>
    <script src="index.js"></script>
</body>

</html>